{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals {% endblock title %}
 {% block products %}
  <!-- Page Content -->
  
  <h1 class="my-4">Welcome to WW_Deals!<i class="fa fa-shopping-cart" aria-hidden="true"></i></h1>
  <h3>Trending Product on Amazon</h3>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3rhZeiK"><img class="card-img-top" src="/static/affiliate/images/otherproduct/watch1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3rhZeiK">Mi Smart Band 5-1.1” AMOLED Color Display, 2 Weeks Battery Life, 5ATM Water Resistant</a>
            </h4>
            <h5>₹ 2,499.00</h5>
            <a href="https://amzn.to/3rhZeiK" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3apPQmr"><img class="card-img-top" src="/static/affiliate/images/otherproduct/headphones1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3apPQmr">OnePlus Bullets Wireless Z Bass Edition (Reverb Red)</a>
            </h4>
            <h5>₹ 1,899.00 </h5>
              <a href="https://amzn.to/3apPQmr" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2YrBOve"><img class="card-img-top" src="/static/affiliate/images/menswear/i care mens cotton t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2YrBOve">i Care Men's Cotton Regular Fit T-Shirt</a>
            </h4>
            <h5>₹ 474.05</h5>
              <a href="https://amzn.to/2YrBOve" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3tBMPZf"><img class="card-img-top" src="/static/affiliate/images/otherproduct/voroly foldable.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3tBMPZf">Voroly Foldable Height Adjustable Laptop Stand Eye-Level Ergonomic Laptop Riser for Notebook Thinkpad MacBook Pro/air (White)
                )</a>
            </h4>
            <h5>₹ 1,199.00</h5>
              <a href="https://amzn.to/3tBMPZf" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jh9IMQ"><img class="card-img-top" src="/static/affiliate/images/otherproduct/handkerchief1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jh9IMQ">Louis Philippe Men's Cotton Handkerchief (8904241906461_UAE4187_Multi-Coloured)
              </a>
            </h4>
            <h5>₹385</h5>
              <a href="https://amzn.to/3jh9IMQ" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3cydOPl"><img class="card-img-top" src="/static/affiliate/images/homeappliances/laundry1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3cydOPl">
                Milton Launet Plastic Laundry Basket, 50 litres, Large, Grey</a>
            </h4>
            <h5>₹ 1,011.00</h5>
            <a href="https://amzn.to/3cydOPl" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
    <h3>More Product</h3>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B00U2WGAWI&asins=B00U2WGAWI&linkId=94b8255a21ab48be5211da571984f8f1&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07WH14NYF&asins=B07WH14NYF&linkId=d1f0e8b32521d1ab00dbbbf351f25e2d&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07KMD9Y6C&asins=B07KMD9Y6C&linkId=016e7d3a4ea118d21e9b16cf9f71bbbd&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08HWBW7KY&asins=B08HWBW7KY&linkId=7f2c3da6e2996aa877980ddff9bdf6a4&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B086PQDCSG&asins=B086PQDCSG&linkId=4378c9594ae32d9e53ba0e1fefb0a07b&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07G864732&asins=B07G864732&linkId=c056593e4cf05aeae4085a288812ab9d&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08DJY5X8T&asins=B08DJY5X8T&linkId=0b449ee1554c9727baded1f65d0baeee&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08DP41ZT4&asins=B08DP41ZT4&linkId=dadd01277e9da00e7b5ea1a7f233438a&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07NKLJM72&asins=B07NKLJM72&linkId=b068fdf5a4bb0e4204eecae7e6cebce8&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08NPZBRG8&asins=B08NPZBRG8&linkId=b2049b35ee154f7b0a875c04171f1c47&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07PD4DW17&asins=B07PD4DW17&linkId=98f6882e3484ccf7d5e11b32447e2e17&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07P5TXZ9V&asins=B07P5TXZ9V&linkId=3721e5e1d6e27bb8937a65d9872da273&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08LPH4QTD&asins=B08LPH4QTD&linkId=b5e295ecaa7e16cd83ac6ae22639951e&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08CYRBXYX&asins=B08CYRBXYX&linkId=8505bc33201ae8651528705e0a739ceb&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07TSNCK1Z&asins=B07TSNCK1Z&linkId=3180c6f6640bf1c921c405f39bb642b4&show_border=true&link_opens_in_new_window=true"></iframe>
{% endblock products %}
    