{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %} {% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'affiliate' %}">WW_Deals!</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://webworlddigitalmarketing.blogspot.com/">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/static/affiliate/images/header/h1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>More Product</h3>
            <p>Some Interest Product that you may Like!</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/static/affiliate/images/header/h2.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Men's Wear</h3>
            <p>Get Interesting Men's Wear on WW_Deals!</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/static/affiliate/images/header/h3.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Women's Fashion</h3>
            <p>Get Interesting Fashion of Women's on WW_Deals!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
  <div class="container">
    <h1 class="my-4">Category</h1>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
       <a href="{% url 'menswear' %}"> <div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Mens Wear</strong></div></a>
      </div>
      <div class="col">
       <a href="{% url 'womens' %}"> <div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Womens Fashion</strong></div></a>
      </div>
      <div class="col">
        <a href="{% url 'grocerry' %}"><div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Grocerry</strong></div></a>
      </div>
      <div class="col">
        <a href="{% url 'mobile' %}"><div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Mobiles</strong></div></a>
      </div>
      <div class="col">
         <a href="{% url 'electronic' %}"><div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Other Electronics</strong></div></a>
      </div>
      <div class="col">
       <a href="{% url 'cosmetics' %}"> <div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Cosmetics</strong></div></a>
      </div>
      <div class="col">
       <a href="{% url 'homeappliance' %}">  <div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Home Appliances</strong></div></a>
      </div>
      <div class="col">
       <a href="{% url 'interior' %}">  <div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Interior decorations</strong></div></a>
      </div>
      <div class="col">
       <a href="{% url 'sports' %}">  <div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Sports Items</strong></div></a>
      </div>
      <div class="col">
        <a href="{% url 'gym' %}"> <div class="p-3 border bg-light"><strong class="d-inline-block mb-2 text-primary">Gym Items</strong></div></a>
      </div>
    </div>
  </div>

  {% block products %}
  
  {% endblock products %}

  <hr>
    <!-- Features Section -->
      <div class="col-lg-10">
        <h2>Web World Features</h2>
        <p>This Product are highly rated in Amazon and products type are:</p>
        <ul>
          <li>Mens Wear</li>
          <li>Women's Fashion</li>
          <li>Grocerry</li>
          <li>Mobiles and Accessories</li>
          <li>Electronic Product</li>
          <li>Cosmetics</li>
          <li>Home Appliances</li>
          <li>Interior Decorations</li>
          <li>Sports Items</li>
          <li>Gym Items</li>
        </ul>
        <p>We Sale this Products Of Amazon. This is Product has high rating,Low prices, positive comment and Sale of this products are alse more.We daily update the product. If you are Interesting in buy the branded products and low prices product you can buy on Web World deals.</p>
      </div>

    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>See our Interesting Articles on Web World.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-warning btn-block" target="_blank" href="https://webworlddigitalmarketing.blogspot.com/">Web World Articles</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Web World Deals 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>