{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals | Cosmetics {% endblock title %}
 {% block products %}

  <h1 class="my-4">Women's Cosmetics</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2Z22t20"><img class="card-img-top" src="/static/affiliate/images/cosmetics/inovera.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2Z22t20">INOVERA (LABEL) Plastic 16 Compartment Cosmetic Makeup Lipstick Storage Organizer Box ,Transparent ( 21.2L x 12.5W x 7.8H)
              </a>
            </h4>
            <h5>₹ 265.00 </h5>
            <a href="https://amzn.to/2Z22t20" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3a0lJ69"><img class="card-img-top" src="/static/affiliate/images/cosmetics/gosfrid.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3a0lJ69">GOSFRID with GF LOGO 360 Degree Rotating Makeup Organizer Adjustable Cosmetic Storage Box | Alternative Use as Bathroom Storage Accessories (Multicolour)</a>
            </h4>
            <h5>₹ 799.00 </h5>
              <a href="https://amzn.to/3a0lJ69" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2N8kLvQ"><img class="card-img-top" src="/static/affiliate/images/cosmetics/beta vita.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2N8kLvQ">Bella Vita Organic Face & Body Scrub for Skin Brightening De-Tan Ayurveda, Exfoliate Knees, Elbows, Face, Scalp, Arms Etc, 75 g</a>
            </h4>
            <h5>	₹ 225.00 (₹ 225.00 / 100 g)</h5>
              <a href="https://amzn.to/2N8kLvQ" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2NdMLOl"><img class="card-img-top" src="/static/affiliate/images/cosmetics/lakme absolute.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2NdMLOl">Lakme Absolute Skin Natural Mousse, Ivory Fair 01, With Spf, Light Texture , Stays Upto 16 Hours, 25 g</a>
            </h4>
            <h5>		₹ 552.00</h5>
              <a href="https://amzn.to/2NdMLOl" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3tBKLjX"><img class="card-img-top" src="/static/affiliate/images/cosmetics/vega set.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3tBKLjX">VEGA Set Of 9 Professional Makeup Brush Set
              </a>
            </h4>
            <h5>₹ 840.00</h5>
              <a href="https://amzn.to/3tBKLjX" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2MFTnFF"><img class="card-img-top" src="/static/affiliate/images/cosmetics/lakme eyeconic.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2MFTnFF">
                Roll over image to zoom in
                Lakme Eyeconic Kajal Twin Pack, Smudge Proof, Water Proof, Lasts Upto 22 Hours, 0.35 g + 0.35 g</a>
            </h4>
            <h5>₹ 267.00</h5>
            <a href="https://amzn.to/2MFTnFF" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
    <h3>More Cosmetics Product</h3>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07X4ZDD4P&asins=B07X4ZDD4P&linkId=297271ab9241d437fd453492ab044024&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07RNM1NFC&asins=B07RNM1NFC&linkId=98effd83198bf1756fdb86cff1d319c1&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B0822KZ799&asins=B0822KZ799&linkId=a6ae40e5298f6b09a1eaa5922d95526f&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07WZFPT1B&asins=B07WZFPT1B&linkId=8bb064ddd949ad0387102ac658907e01&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07N7DC1Y2&asins=B07N7DC1Y2&linkId=1ce048c85c9c728ebabc3305ce345f9e&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07MZ6MJLC&asins=B07MZ6MJLC&linkId=a310a63cab11a9d0de0d393a5a71fbd6&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B0825RH8K9&asins=B0825RH8K9&linkId=f7c54e44d124abb4ff14b509bfc2f1a2&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B00RV73XDG&asins=B00RV73XDG&linkId=64f1fe945a6c841c50cd76cea1ae32ba&show_border=true&link_opens_in_new_window=true"></iframe>

    {% endblock products %}