{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals | Other Electronic {% endblock title %}
 {% block products %}

  <h1 class="my-4">Electronic Products</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/39ZVKf1"><img class="card-img-top" src="/static/affiliate/images/electronic/fangle designer tablemate.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/39ZVKf1">Fangle Designer Tablemate Laptop Folding Study Wooden Portable Laptop Table (Finish Color - Brown)</a>
            </h4>
            <h5>₹ 1,499.00 </h5>
            <a href="https://amzn.to/39ZVKf1" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jxZDeh"><img class="card-img-top" src="/static/affiliate/images/electronic/jbl reofessional recording.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jxZDeh">JBL Professional Recording Bundle for content creation, Podcasting, Vlogging, Instrument/Voice recording</a>
            </h4>
            <h5>₹ 25,299.00 </h5>
              <a href="https://amzn.to/3jxZDeh" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3a6TPFT"><img class="card-img-top" src="/static/affiliate/images/electronic/cctv.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3a6TPFT">
Mi 360° 1080p Full HD WiFi Smart Security Camera| 360° Viewing Area |Intruder Alert | Night Vision | Two-Way Audio |Inverted Installation</a>
            </h4>
            <h5>₹ 2,899.00</h5>
              <a href="https://amzn.to/3a6TPFT" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jxdjGr"><img class="card-img-top mt-5" src="/static/affiliate/images/electronic/mi tv.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jxdjGr">
Mi TV 4A PRO 108 cm (43 Inches) Full HD Android LED TV (Black) | With Data Saver</a>
            </h4>
            <h5>₹ 23,999.00</h5>
              <a href="https://amzn.to/3jxdjGr" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jyB54Q"><img class="card-img-top" src="/static/affiliate/images/electronic/tvs printer.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jyB54Q">TVS Electronics LP 46 Neo Label Printer
              </a>
            </h4>
            <h5>₹ 14,095.00</h5>
              <a href="https://amzn.to/3jyB54Q" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2LyrzSZ"><img class="card-img-top" src="/static/affiliate/images/electronic/security sake.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2LyrzSZ">AmazonBasics Security Safe 20 litres</a>
            </h4>
            <h5>₹ 4,499.00</h5>
            <a href="https://amzn.to/2LyrzSZ" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
    <h3>More Electronics Product</h3>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07TSPTPWM&asins=B07TSPTPWM&linkId=c8f3916589336e35971fe562c9476a85&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B073B6TQQY&asins=B073B6TQQY&linkId=1ffe34e8b688735286381cadcec58fae&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08CPQVLZT&asins=B08CPQVLZT&linkId=15f56f0fe5bd8e8fa7248d1e9d2633b0&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08345R1ZN&asins=B08345R1ZN&linkId=b04954b69640272aaf2d4dc7b6887add&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07PKXJN7J&asins=B07PKXJN7J&linkId=31f234ca01d9a03054d03ddd69bf4f2c&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08HLKC8ZL&asins=B08HLKC8ZL&linkId=91562065fd34ab097178575a476400ed&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07WGPSS2Z&asins=B07WGPSS2Z&linkId=affe39f8b4bb43de9e3cbf90b5bd58df&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08FDS5N63&asins=B08FDS5N63&linkId=f63ff58e1885b85c251c5a6642dee8a6&show_border=true&link_opens_in_new_window=true"></iframe>

    {% endblock products %}