{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals | Gym  {% endblock title %}
 {% block products %}

  <h1 class="my-4">Gym Products</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2LvoXFt"><img class="card-img-top" src="/static/affiliate/images/gym/hashtag fitness home gym.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2LvoXFt">HASHTAG FITNESS Home Gym Set 30kg,Gym equipments for Home & Home Gyms</a>
            </h4>
            <h5>₹ 1,829.00 </h5>
            <a href="https://amzn.to/2LvoXFt" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2N3oB9x"><img class="card-img-top" src="/static/affiliate/images/gym/airbike exercise machine.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2N3oB9x">Lifelong LLFCN18 Fit Pro Plus Airbike Exercise Machine with Moving Handles & Back Support for Cardio Training, Weight Loss and Workout at Home</a>
            </h4>
            <h5>₹ 8,555.00 </h5>
              <a href="https://amzn.to/2N3oB9x" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3p2D9TW"><img class="card-img-top" src="/static/affiliate/images/gym/hastag fitness.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3p2D9TW">HASHTAG FITNESS 20 in 1 Bench only with LAT Pull Down Handle Gym Equipment for Home</a>
            </h4>
            <h5>	₹ 8,999.00</h5>
              <a href="https://amzn.to/3p2D9TW" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="hhttps://amzn.to/2Nd8hmk"><img class="card-img-top" src="/static/affiliate/images/gym/ims.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2Nd8hmk">IBS Six Pack Abs Care Abdomen Tummy Reducer Ab Exerciser (RED, Black)</a>
            </h4>
            <h5>	₹ 3,799.00</h5>
              <a href="https://amzn.to/2Nd8hmk" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2YXjyKv"><img class="card-img-top" src="/static/affiliate/images/gym/zosoe.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2YXjyKv">ZOSOE Push Up Bars Stand with Foam Grip Handle for Chest Press, Home Gym Fitness Exercise, Strength Training, Push Up Bar, Push Up Bars Stand for Men and Women, Exercise Equipment for Home,Gym
              </a>
            </h4>
            <h5>₹ 429.00</h5>
              <a href="https://amzn.to/2YXjyKv" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/36U8G4e"><img class="card-img-top" src="/static/affiliate/images/gym/btc.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/36U8G4e">BTC Advance Revolex Xtreme ABs Roller for Abdominal Training/Total Body Workout Back Exercise Fat Loss Home Gym Equipment Fitness Body Toner for Men and Women</a>
            </h4>
            <h5>₹ 489.00 </h5>
            <a href="https://amzn.to/36U8G4e" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
   <h3> More Gym Product</h3>

   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07G8FNL3Q&asins=B07G8FNL3Q&linkId=7b5b7f94d824f541c0778792c9869471&show_border=true&link_opens_in_new_window=true"></iframe>

   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07QBYG3LF&asins=B07QBYG3LF&linkId=9078b366ae6a355aea6cebdf93be44b5&show_border=true&link_opens_in_new_window=true"></iframe>

   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07QN9MBBB&asins=B07QN9MBBB&linkId=840b0fb00ef44b542a4ce92f98f260b3&show_border=true&link_opens_in_new_window=true"></iframe>

   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08F7XK3LV&asins=B08F7XK3LV&linkId=e7a77f0741ba0fc341ab4487e1d089e3&show_border=true&link_opens_in_new_window=true"></iframe>

   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08BTWBG3F&asins=B08BTWBG3F&linkId=eec18bb9f0f1e1da4d81b161ab032fca&show_border=true&link_opens_in_new_window=true"></iframe>

   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08MWLHP6F&asins=B08MWLHP6F&linkId=08be673c7cb2f383aa06436acbcf7e34&show_border=true&link_opens_in_new_window=true"></iframe>

   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B086T5T4B4&asins=B086T5T4B4&linkId=64adde995788a7450a425ceeeb8f9681&show_border=true&link_opens_in_new_window=true"></iframe>

   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07ZB18WMJ&asins=B07ZB18WMJ&linkId=16fe35e4c537e113314befea7d75348e&show_border=true&link_opens_in_new_window=true"></iframe>


    {% endblock products %}