{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Shop | Gym  {% endblock title %}
 {% block products %}

  <h1 class="my-4">Men's Fashion</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2LvoXFt"><img class="card-img-top" src="/static/affiliate/images/gym/hashtag fitness home gym.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2LvoXFt">HASHTAG FITNESS Home Gym Set 30kg,Gym equipments for Home & Home Gyms</a>
            </h4>
            <h5>₹ 1,829.00 </h5>
            <a href="https://amzn.to/2LvoXFt" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2N3oB9x"><img class="card-img-top" src="/static/affiliate/images/gym/airbike exercise machine.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2N3oB9x">Lifelong LLFCN18 Fit Pro Plus Airbike Exercise Machine with Moving Handles & Back Support for Cardio Training, Weight Loss and Workout at Home</a>
            </h4>
            <h5>₹ 8,555.00 </h5>
              <a href="https://amzn.to/2N3oB9x" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2YrBOve"><img class="card-img-top" src="/static/affiliate/images/menswear/i care mens cotton t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2YrBOve">i Care Men's Cotton Regular Fit T-Shirt</a>
            </h4>
            <h5>₹ 474.05</h5>
              <a href="https://amzn.to/2YrBOve" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3pHDwol"><img class="card-img-top" src="/static/affiliate/images/menswear/i care Mens slim fit t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3pHDwol">i Care Men's Slim Fit T-Shirt</a>
            </h4>
            <h5>₹ 474.05</h5>
              <a href="https://amzn.to/3pHDwol" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/39qSXvh"><img class="card-img-top" src="/static/affiliate/images/menswear/Printees Mens regular t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/39qSXvh">Printees Men's Regular Fit Solid Print Premium Cotton T-Shirt Casual
              </a>
            </h4>
            <h5>₹ 199.00</h5>
              <a href="https://amzn.to/39qSXvh" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3opRk57"><img class="card-img-top" src="/static/affiliate/images/menswear/Wrath Plain Means t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3opRk57">Wrath Plain Men's Regular Fit T-Shirt</a>
            </h4>
            <h5>₹ 1,200.00</h5>
            <a href="https://amzn.to/3opRk57" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    

    {% endblock products %}