{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals | Home Appliances {% endblock title %}
 {% block products %}

  <h1 class="my-4">Home Appliances</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3rzzPl8"><img class="card-img-top" src="/static/affiliate/images/homeappliances/clad handles ladder.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3rzzPl8">BRANCO 4 Step Folding Powder Coated Steel Pipes, Polypropylene Copolymer Wide Steps, Rubber Boots, Foam Clad Handles Ladder</a>
            </h4>
            <h5>₹ 2,199.00 </h5>
            <a href="https://amzn.to/3rzzPl8" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3a3qqMy"><img class="card-img-top" src="/static/affiliate/images/homeappliances/dk home appliances.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3a3qqMy">DK HOME APPLIANCES Digital LED Alarm Clock, for Heavy Sleepers Kids Large LED Display with Snooze Time Temperature Function for Bedroom, Office, Travel - Battery Powered USB Powered(Mirror Clock)</a>
            </h4>
            <h5>₹  595.00 </h5>
              <a href="https://amzn.to/3a3qqMy" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3cQOUdP"><img class="card-img-top" src="/static/affiliate/images/homeappliances/Eureka forbes clean.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3cQOUdP">Eureka Forbes Quick Clean DX 1200-Watt Vacuum Cleaner for Home with Free Reusable dust Bag (Red)</a>
            </h4>
            <h5>₹ 3,590.00</h5>
              <a href="https://amzn.to/3cQOUdP" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2LvYxmO"><img class="card-img-top" src="/static/affiliate/images/homeappliances/geo fashoin indian.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2LvYxmO">Geo fashion Indian Starline Kitchen Multipurpose Pot and pan Rack with 10 Hooks
</a>
            </h4>
            <h5>	₹ 799.00</h5>
              <a href="https://amzn.to/2LvYxmO" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2N4F1OO"><img class="card-img-top" src="/static/affiliate/images/homeappliances/pigeon machine.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2N4F1OO">Pigeon by Stovekraft Brewster Coffee Maker. A Small Size Coffee Maker of Home Machine (Black)
              </a>
            </h4>
            <h5>₹ 949.00</h5>
              <a href="https://amzn.to/2N4F1OO" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aR5BTX"><img class="card-img-top" src="/static/affiliate/images/homeappliances/dinner piece.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aR5BTX">DK HOME APPLIANCES Presents 12 Pieces Dinner Set,4 Spoon - 4 Dish - 4 Bowl Multicolor</a>
            </h4>
            <h5>₹ 599.00 (₹ 49.92 / count)</h5>
            <a href="https://amzn.to/3aR5BTX" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
    <h3>More Home Appliances Product </h3>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08RY29D7C&asins=B08RY29D7C&linkId=03e0a2f9da5e94e11074ecd0a94471ca&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08HL75RR5&asins=B08HL75RR5&linkId=2cedad49e161e44dec9ba2160fe03e27&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B01LYBZX6Y&asins=B01LYBZX6Y&linkId=12bfcb25f4c9d7617ff1589022ca877a&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07YLJJWTD&asins=B07YLJJWTD&linkId=881f401795b09c75d929a91f94c0e3a0&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08GCPR6MZ&asins=B08GCPR6MZ&linkId=5a6dcf6835e618379d77cda71c063aa5&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08HH9GNZP&asins=B08HH9GNZP&linkId=202285a1b9a04e754cc42d915028c7bb&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B01N63OW1Q&asins=B01N63OW1Q&linkId=444175e6b2521dfda75406e635b3160b&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B083RD1Q23&asins=B083RD1Q23&linkId=5439f05221eacc96f1a0379a5b4e1063&show_border=true&link_opens_in_new_window=true"></iframe>

    {% endblock products %}