{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals | Interior Decorations {% endblock title %}
 {% block products %}

  <h1 class="my-4">Interior Decorations</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2MFxTJ2"><img class="card-img-top" src="/static/affiliate/images/interior/pendant lamp.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2MFxTJ2">R@DIANT 40W Hanging/pendant Lamp With E27 Holder, Black, Round</a>
            </h4>
            <h5>₹ 429.00  </h5>
            <a href="https://amzn.to/2MFxTJ2" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aIbZN4"><img class="card-img-top" src="/static/affiliate/images/interior/saqib ali wooden.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aIbZN4">saqib ali wooden handicrafts S.A. Wooden Wall Rack Shelves Black Set of 3 Shelves (4 x 16 x 4, 4 x 12 x 4, 4 x 8 x 4 inches) MDF -Medium Density Fiber Home Decoration Wall Decor</a>
            </h4>
            <h5>₹ 429.00 </h5>
              <a href="https://amzn.to/3aIbZN4" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3tE9Cnd"><img class="card-img-top" src="/static/affiliate/images/interior/krishna.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3tE9Cnd">Prince Home Decor & Gifts Metal Krishna with Cow Standing Under Tree Plying Flute (Gold, 12x8x17cm)</a>
            </h4>
            <h5>₹  425.00</h5>
              <a href="https://amzn.to/3tE9Cnd" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aIcpmC"><img class="card-img-top" src="/static/affiliate/images/interior/navved art.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aIcpmC">Naveed Arts - 3D Acrylic Mirror Wall Decor Stickers for Home & Office - Red & White, 10 Ring + 3 Rings - JB019S2RW</a>
            </h4>
            <h5>₹ 360.00</h5>
              <a href="https://amzn.to/3aIcpmC" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3rsIjdE"><img class="card-img-top" src="/static/affiliate/images/interior/jodhpur handicrafts.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3rsIjdE">Jodhpur Handicrafts Mdf Home Temple (46 x 23 x 56 cm, Multicolour)
              </a>
            </h4>
            <h5>₹ 2,850.00</h5>
              <a href="https://amzn.to/3rsIjdE" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/36QP3Kv"><img class="card-img-top" src="/static/affiliate/images/interior/santosha decor.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/36QP3Kv">Santosha Decor Zigzag Corner Wall Shelf Wall Mount Unit Racks and Wall Shelves Home Decor (Walnut Finish, Brown)</a>
            </h4>
            <h5>₹ 649.00</h5>
            <a href="https://amzn.to/36QP3Kv" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
     
     <h3>More Interior Decorations Product</h3>


     <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08D8F51B4&asins=B08D8F51B4&linkId=b55536dfb871f47c7b8430682ac3c522&show_border=true&link_opens_in_new_window=true"></iframe>

     <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07Q5Z4B7R&asins=B07Q5Z4B7R&linkId=12f101d360601b64a3c74c7d394884af&show_border=true&link_opens_in_new_window=true"></iframe>

     <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07MPMYHJN&asins=B07MPMYHJN&linkId=dac34982624364acc65cd99fb6c829aa&show_border=true&link_opens_in_new_window=true"></iframe>

     <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B01H2AVTH8&asins=B01H2AVTH8&linkId=23c4c65d43751be4dd733d61c4d44b15&show_border=true&link_opens_in_new_window=true"></iframe>

     <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07TSXW4LT&asins=B07TSXW4LT&linkId=da6015bb592f5e4de2828642a7eb329b&show_border=true&link_opens_in_new_window=true"></iframe>

     <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B00YPITO4G&asins=B00YPITO4G&linkId=845a6b24d2f1c1d331db23f3d2d944bd&show_border=true&link_opens_in_new_window=true"></iframe>

     <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B076V78H1G&asins=B076V78H1G&linkId=9a362f8515ec26c1bfa327d0e9298f72&show_border=true&link_opens_in_new_window=true"></iframe>

     <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B078LGT4WJ&asins=B078LGT4WJ&linkId=8c46028999675d16b7b724a2123fd3cf&show_border=true&link_opens_in_new_window=true"></iframe>
     

    {% endblock products %}