{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals | Mens Wear {% endblock title %}
 {% block products %}

  <h1 class="my-4">Men's Fashion</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2Ysll9T"><img class="card-img-top" src="/static/affiliate/images/menswear/chkokko mens gym t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2Ysll9T">CHKOKKO Men's Gym Regular Fit Polo Full Sleeves T-Shirt</a>
            </h4>
            <h5>₹ 546.00  </h5>
            <a href="https://amzn.to/2Ysll9T" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3adyQjt"><img class="card-img-top" src="/static/affiliate/images/menswear/f gallery t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3adyQjt">f Gallery Tshirts for Men|Full Sleeve Cowl Neck Tshirts|Men's Stylish Regular Fit Cotton Tshirt</a>
            </h4>
            <h5>₹ 239.00 - ₹ 379.00</h5>
              <a href="https://amzn.to/3adyQjt" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2YrBOve"><img class="card-img-top" src="/static/affiliate/images/menswear/i care mens cotton t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2YrBOve">i Care Men's Cotton Regular Fit T-Shirt</a>
            </h4>
            <h5>₹ 474.05</h5>
              <a href="https://amzn.to/2YrBOve" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3pHDwol"><img class="card-img-top" src="/static/affiliate/images/menswear/i care Mens slim fit t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3pHDwol">i Care Men's Slim Fit T-Shirt</a>
            </h4>
            <h5>₹ 474.05</h5>
              <a href="https://amzn.to/3pHDwol" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2YYLOMw"><img class="card-img-top" src="/static/affiliate/images/menswear/Tract fashion full sleeve formal shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2YYLOMw">TRACI Fashion Full Sleeve Slim Fit Plain Formal Shirt for Men,Cotton Shirts,Office wear,Formal Shirt
              </a>
            </h4>
            <h5>₹ 399.00 - ₹ 625.00</h5>
              <a href="https://amzn.to/2YYLOMw" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3opRk57"><img class="card-img-top" src="/static/affiliate/images/menswear/Wrath Plain Means t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3opRk57">Wrath Plain Men's Regular Fit T-Shirt</a>
            </h4>
            <h5>	₹ 349.00</h5>
            <a href="https://amzn.to/3opRk57" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2OdwDNn"><img class="card-img-top" src="/static/affiliate/images/menswear/rodzen mens tshirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2OdwDNn">RodZen Men's Classic Fit T-shirt
              </a>
            </h4>
            <h5>₹ 468.00 - ₹ 799.00</h5>
              <a href="https://amzn.to/2OdwDNn" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aP1zvj"><img class="card-img-top" src="/static/affiliate/images/menswear/leotude regular fit tshirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aP1zvj">Leotude Regular Fit Half Sleeve Polo Tshirt for Men
              </a>
            </h4>
            <h5>₹ 299.00 - ₹ 500.00</h5>
              <a href="https://amzn.to/3aP1zvj" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2LtQoiK"><img class="card-img-top" src="/static/affiliate/images/menswear/kalt mens half sleeves.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2LtQoiK">Kalt Men's Half Sleeves Round Neck Cotton Blend T-Shirt(Dark Blue Melange::Black::White::Light Grey)
              </a>
            </h4>
            <h5>₹ 349.00 - ₹ 449.00</h5>
              <a href="https://amzn.to/2LtQoiK" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2N4B24M"><img class="card-img-top" src="/static/affiliate/images/menswear/mens slim fit jeans.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2N4B24M">Men's Slim Fit Jeans
              </a>
            </h4>
            <h5>₹ 549.00 - ₹ 1,149.00</h5>
              <a href="https://amzn.to/2N4B24M" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aIyOjL"><img class="card-img-top" src="/static/affiliate/images/menswear//red tape mens solid regular shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aIyOjL">Red Tape Men's Solid Regular fit Formal Shirt
              </a>
            </h4>
            <h5>₹ 703.00</h5>
              <a href="https://amzn.to/3aIyOjL" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3cON3WZ"><img class="card-img-top" src="/static/affiliate/images/menswear/Symbol mens solid regular shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3cON3WZ">Amazon Brand - Symbol Men's Solid Regular Fit Full Sleeve Formal Shirt (Combo Pack of 2)
              </a>
            </h4>
            <h5> ₹ 879.00</h5>
              <a href="https://amzn.to/3cON3WZ" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jBZyXi"><img class="card-img-top" src="/static/affiliate/images/menswear/symbol mens skinny fit jeans.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jBZyXi">Amazon Brand - Symbol Men's Skinny Fit Jeans
              </a>
            </h4>
            <h5> ₹ 649.00</h5>
              <a href="https://amzn.to/3jBZyXi" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/39ZIQ0y"><img class="card-img-top" src="/static/affiliate/images/menswear/Ad and av men formal jeans.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/39ZIQ0y">AD & AV Men's Regular Fit Formal Trousers
              </a>
            </h4>
            <h5> 	₹ 637.00 </h5>
              <a href="https://amzn.to/39ZIQ0y" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/36WbgH7"><img class="card-img-top" src="/static/affiliate/images/menswear/Ben martin mens regular fit jeans.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/36WbgH7">Ben Martin Men's Regular Fit Jeans
              </a>
            </h4>
            <h5> ₹ 649.00 - ₹ 698.00</h5>
              <a href="https://amzn.to/36WbgH7" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3rqPL98"><img class="card-img-top" src="/static/affiliate/images/menswear/kraasa mens trekking shoe.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3rqPL98">Kraasa Men's Trekking Shoe
              </a>
            </h4>
            <h5> ₹ 499.00</h5>
              <a href="https://amzn.to/3rqPL98" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3cPO3tS"><img class="card-img-top" src="/static/affiliate/images/menswear/spark mens shoes.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3cPO3tS">Sparx Mens Sd0323g Sneakers
              </a>
            </h4>
            <h5> 	₹ 618.00</h5>
              <a href="https://amzn.to/3cPO3tS" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aDQnkM"><img class="card-img-top" src="/static/affiliate/images/menswear/Fentacia men genuine shoes.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aDQnkM">FENTACIA Men Genuine Leather Formal/Office Shoe
              </a>
            </h4>
            <h5>	₹ 949.00</h5>
              <a href="https://amzn.to/3aDQnkM" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

    <h4>Some More Product Of Mens</h4>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07L2Q13DC&asins=B07L2Q13DC&linkId=687c1cc86f9d1b522b6e87e0efc875e7&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B084DRFN5G&asins=B084DRFN5G&linkId=5dfd026c6951edcd7b68fb6abfdae79e&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07H3489LV&asins=B07H3489LV&linkId=de2b0a9f6c24e5e54409432604a2b9a9&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08HZZCXTD&asins=B08HZZCXTD&linkId=b2ca078b34e57fb93fdd201c6214815b&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07ZH15G21&asins=B07ZH15G21&linkId=28220eb65dfa7fe07c639dc5a75ae31e&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07DPTHCXQ&asins=B07DPTHCXQ&linkId=5c7d9f2adaa85dd7c3e33c995aa646c5&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07Y813RTM&asins=B07Y813RTM&linkId=c77dd77f4efd1e49392897fbad125e42&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B079WLZFHQ&asins=B079WLZFHQ&linkId=4473e57fcaab602880e09a7af5b5b776&show_border=true&link_opens_in_new_window=true"></iframe>
    

    {% endblock products %}