{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals | Mobiles {% endblock title %}
 {% block products %}
  <h1 class="my-4">Mobile & Accesories</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/36E8wxS"><img class="card-img-top" src="/static/affiliate/images/mobiles/mobile1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/36E8wxS">Redmi Note 9 Pro Max (Interstellar Black, 6GB RAM, 64GB Storage) - 64MP Quad Camera & Alexa Hands-Free</a>
            </h4>
            <h5>₹ 14,999.00 </h5>
            <a href="https://amzn.to/36E8wxS" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aQmHkL"><img class="card-img-top" src="/static/affiliate/images/mobiles/new apple iphone 12.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aQmHkL">New Apple iPhone 12 Mini (128GB) - Black</a>
            </h4>
            <h5>₹ 71,155.00</h5>
              <a href="https://amzn.to/3aQmHkL" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3p6N1Mu"><img class="card-img-top" src="/static/affiliate/images/mobiles/redmi 9.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3p6N1Mu">Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)</a>
            </h4>
            <h5>₹ 8,999.00</h5>
              <a href="https://amzn.to/3p6N1Mu" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aNhIBd"><img class="card-img-top" src="/static/affiliate/images/mobiles/samsung galaxy m51.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aNhIBd">Samsung Galaxy M51 (Electric Blue, 8GB RAM, 128GB Storage)
</a>
            </h4>
            <h5>₹ 24,999.00 </h5>
              <a href="https://amzn.to/3aNhIBd" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2OgeNJH"><img class="card-img-top" src="/static/affiliate/images/mobiles/samasung galaxy m21.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2OgeNJH">Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)
              </a>
            </h4>
            <h5>₹ 12,999.00</h5>
              <a href="https://amzn.to/2OgeNJH" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3cUZ4Kk"><img class="card-img-top" src="/static/affiliate/images/mobiles/vivo v17.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3cUZ4Kk">Vivo V17 (Midnight Ocean, 8GB RAM, 128GB Storage)</a>
            </h4>
            <h5>₹ 20,044.00</h5>
            <a href="https://amzn.to/3cUZ4Kk" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
    <h3> More Mobiles </h3>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B086KF2QYN&asins=B086KF2QYN&linkId=954564157e2fb2a60079c0bc4afef118&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08N9CY9YN&asins=B08N9CY9YN&linkId=075ed76ea4727d8920669b38f60d204c&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07DJCJBB3&asins=B07DJCJBB3&linkId=ca1b31389d44815451f6b259cc90d605&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08444SXZ6&asins=B08444SXZ6&linkId=27a6b64c13ddbc39a71ce640466eac86&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08S3ND3CV&asins=B08S3ND3CV&linkId=b4c2c68ce1b3cb54c2c584109b629a6e&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08697KLZP&asins=B08697KLZP&linkId=bd4b0fc824f4c766e6744b7566b0007c&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B086982ZKF&asins=B086982ZKF&linkId=ff49671f313df67273e737ea91ef7cef&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08L3WBQ71&asins=B08L3WBQ71&linkId=ec1aa933cfcd63b6ed72fac6cc4e8631&show_border=true&link_opens_in_new_window=true"></iframe>

    <h3 class="mt-5"> Accesories </h3>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07DHKRDFT&asins=B07DHKRDFT&linkId=d9ab66b0cf6e3b1a54a2723e2478d697&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07NVCRZM9&asins=B07NVCRZM9&linkId=2cd4e03135d347dd2e885275c1eb8e41&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08HJ1ST92&asins=B08HJ1ST92&linkId=cad73c5b87c32baf1b2d43ef5d5256ce&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08NB1YRW2&asins=B08NB1YRW2&linkId=b8e45cfc93b290b2abe1f7530ae2e7dc&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08T69S439&asins=B08T69S439&linkId=4abfb2b4a2a66b0bf1856a844c6a84cd&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08RJMWZJ2&asins=B08RJMWZJ2&linkId=d89d78009ba95e23f23ee64e23071ead&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08VDQMGYY&asins=B08VDQMGYY&linkId=e3b53514e4d6367c022ca0f2ac560417&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08LPBFMCY&asins=B08LPBFMCY&linkId=5ba4a1b5e8fc1b49ea276e1b445379cf&show_border=true&link_opens_in_new_window=true"></iframe>

    {% endblock products %}