{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals | Sports {% endblock title %}
 {% block products %}

  <h1 class="my-4">Sports Item</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jE1EG8"><img class="card-img-top" src="/static/affiliate/images/sports/tennis cricket bat.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jE1EG8">ishu Sport Poplar Willow Tennis Cricket Bat Size Full for Above 12+ Years Boys & Girls</a>
            </h4>
            <h5>	₹ 430.00 </h5>
            <a href="https://amzn.to/3jE1EG8" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3p30SDA"><img class="card-img-top" src="/static/affiliate/images/sports/winart.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3p30SDA">WINART Professional Cricket Kit Bag-Sports Bag-Backpack-Cricket Bag (Multicolor)</a>
            </h4>
            <h5>₹ 498.00  </h5>
              <a href="https://amzn.to/3p30SDA" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jvaq96"><img class="card-img-top mt-5" src="/static/affiliate/images/sports/football combo.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jvaq96">Force One City Vice Black + CFR 7 Football Combo with Durable Air Pump Football Kit</a>
            </h4>
            <h5>₹ 699.00</h5>
              <a href="https://amzn.to/3jvaq96" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3tEcr7N"><img class="card-img-top" src="/static/affiliate/images/sports/laliga football.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3tEcr7N">RetailWorld Combo of Laliga Football with 7 Other Items, Size-5 (Red/Yellow)
</a>
            </h4>
            <h5>₹ 1,199.00 </h5>
              <a href="https://amzn.to/3tEcr7N" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2LwQGW7"><img class="card-img-top" src="/static/affiliate/images/sports/clock sports.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2LwQGW7">5 O' CLOCK SPORTS Polyester Combo of Let The Gains Begin Gym Bag, Gloves, Spider Shaker, Skipping Rope and Hand Gripper Fitness Kit (Red)
              </a>
            </h4>
            <h5>₹ 799.00</h5>
              <a href="https://amzn.to/2LwQGW7" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3p9ICbS"><img class="card-img-top" src="/static/affiliate/images/sports/tennis ball set.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3p9ICbS">Ellenshire Cosco Tennis Cricket Ball, Light Green -Set of 6</a>
            </h4>
            <h5>	₹ 396.00</h5>
            <a href="https://amzn.to/3p9ICbS" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
    <h3>More Sports Product</h3>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07T9L7MCX&asins=B07T9L7MCX&linkId=fbb513dc5f3299fd4bfe7c815358928f&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07MH5QDMH&asins=B07MH5QDMH&linkId=ee0bf4136e6d188f527d31ff144468cf&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07CXQ4JQ2&asins=B07CXQ4JQ2&linkId=abb4809dad59fac57daca195e3daa35d&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08W42RCN6&asins=B08W42RCN6&linkId=2d600ea59794e22684ba4b06d98834c4&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B089D4K7B3&asins=B089D4K7B3&linkId=fc811468187448c41c69409e882509cb&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B01N49SC76&asins=B01N49SC76&linkId=0a0b9800a71a97be4715f329c5d77b43&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B01LMG7M56&asins=B01LMG7M56&linkId=110e41af717f81c7e276d1f3dda31039&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B01MRPKGYP&asins=B01MRPKGYP&linkId=97e9de6ea6faa8bdb3bbc817933aa175&show_border=true&link_opens_in_new_window=true"></iframe>

    

    {% endblock products %}