{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Shop | Womens Fashion {% endblock title %}
 {% block products %}

  <h1 class="my-4">Women's Fashion</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3ct7HLV"><img class="card-img-top" src="/static/affiliate/images/womens fashion/wf1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3ct7HLV">saissa Dark Blue Rayon Straight Print Ethnic Latest Stylish Kurti Kurta Palazzo Set for Women</a>
            </h4>
            <h5>₹ 999.00 </h5>
            <a href="https://amzn.to/3ct7HLV" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3adyQjt"><img class="card-img-top" src="/static/affiliate/images/menswear/f gallery t-shirt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3adyQjt">f Gallery Tshirts for Men|Full Sleeve Cowl Neck Tshirts|Men's Stylish Regular Fit Cotton Tshirt</a>
            </h4>
            <h5>₹ 239.00 - ₹ 379.00 </h5>
              <a href="https://amzn.to/3adyQjt" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2YrBOve"><img class="card-img-top" src="{% static '/affiliate/images/i care mens cotton t-shirt.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2YrBOve">i Care Men's Cotton Regular Fit T-Shirt</a>
            </h4>
            <h5>₹ 474.05</h5>
              <a href="https://amzn.to/2YrBOve" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3pHDwol"><img class="card-img-top" src="{% static '/affiliate/images/i care Mens slim fit t-shirt.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3pHDwol">i Care Men's Slim Fit T-Shirt</a>
            </h4>
            <h5>₹ 474.05</h5>
              <a href="https://amzn.to/3pHDwol" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/39qSXvh"><img class="card-img-top" src="{% static '/affiliate/images/Printees Mens regular t-shirt.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/39qSXvh">Printees Men's Regular Fit Solid Print Premium Cotton T-Shirt Casual
              </a>
            </h4>
            <h5>₹ 199.00</h5>
              <a href="https://amzn.to/39qSXvh" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3opRk57"><img class="card-img-top" src="{% static '/affiliate/images/Wrath Plain Means t-shirt.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3opRk57">Wrath Plain Men's Regular Fit T-Shirt</a>
            </h4>
            <h5>₹ 1,200.00</h5>
            <a href="https://amzn.to/3opRk57" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    

    {% endblock products %}