{% extends 'base.html' %}
{% load static %}
{% block title %} Web World Deals | Womens Fashion {% endblock title %}
 {% block products %}

  <h1 class="my-4">Women's Fashion</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3ct7HLV"><img class="card-img-top" src="/static/affiliate/images/womens fashion/wf1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3ct7HLV">saissa Dark Blue Rayon Straight Print Ethnic Latest Stylish Kurti Kurta Palazzo Set for Women</a>
            </h4>
            <h5>₹ 999.00 </h5>
            <a href="https://amzn.to/3ct7HLV" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jAqS80"><img class="card-img-top" src="/static/affiliate/images/womens fashion/vaamsi women kurta.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jAqS80">Vaamsi Women's A-Line Kurta
              </a>
            </h4>
            <h5>₹ 284.00 - ₹ 299.00 </h5>
              <a href="https://amzn.to/3jAqS80" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3q6g0S2"><img class="card-img-top" src="/static/affiliate/images/womens fashion/hrj.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3q6g0S2">HRJ CREATION Black Color Knee Length Sleeveless Western Dress for Women and Girls</a>
            </h4>
            <h5>₹ 399.00</h5>
              <a href="https://amzn.to/3q6g0S2" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3rCDI8N"><img class="card-img-top" src="/static/affiliate/images/womens fashion/lyra pants.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3rCDI8N">Lyra Women's Pants</a>
            </h4>
            <h5>	₹ 900.00</h5>
              <a href="https://amzn.to/3rCDI8N" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jy3Q1K"><img class="card-img-top" src="/static/affiliate/images/womens fashion/neha fashion.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jy3Q1K">NENA FASHION Women's net Lehenga Choli (yami pinkblack_ Black_ X-Large)
              </a>
            </h4>
            <h5>₹ 468.00</h5>
              <a href="https://amzn.to/3jy3Q1K" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2Z05EXV"><img class="card-img-top mt-5" src="/static/affiliate/images/womens fashion/mirav fashion.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2Z05EXV">MIRAV FASHION Women Maxi Skirt (Pack of 3) (Multicolored_Free Size)</a>
            </h4>
            <h5>			₹ 899.00</h5>
            <a href="https://amzn.to/2Z05EXV" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3tGFxU2"><img class="card-img-top mt-5" src="/static/affiliate/images/womens fashion/fast fashion womens chain.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3tGFxU2">Fast Fashions Women's Chain Stitch Semi Stitched Net Anarkali Gown (Pink)
              </a>
            </h4>
            <h5>₹ 849.00</h5>
            <a href="https://amzn.to/3tGFxU2" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3p6Sdjv"><img class="card-img-top mt-5" src="/static/affiliate/images/womens fashion/jaanvi fashion.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3p6Sdjv">Jaanvi fashion Women's Plain weave Pure Georgette Saree With Blouse Piece
              </a>
            </h4>
            <h5>₹ 660.00</h5>
            <a href="https://amzn.to/3p6Sdjv" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2LxQvd8"><img class="card-img-top mt-5" src="/static/affiliate/images/womens fashion/cloth clock womens.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2LxQvd8">Cloth Clock Women's Crepe Printed Unstitched Salwar Suit Dress Material (Free Size_Black Yellow)
              </a>
            </h4>
            <h5>₹ 470.00</h5>
            <a href="https://amzn.to/2LxQvd8" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jxyokd"><img class="card-img-top mt-5" src="/static/affiliate/images/womens fashion/biba women.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jxyokd">BIBA Women Salwar Suit Set
              </a>
            </h4>
            <h5>₹ 3,297.00</h5>
            <a href="https://amzn.to/3jxyokd" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3b3W24b"><img class="card-img-top mt-5" src="/static/affiliate/images/womens fashion/neysa womens.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3b3W24b">Neysa Women's Maxi Dress
              </a>
            </h4>
            <h5>	₹ 799.00</h5>
            <a href="https://amzn.to/3b3W24b" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3a2ot2U"><img class="card-img-top mt-5" src="/static/affiliate/images/womens fashion/2211 the fashion hub.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3a2ot2U">2211 The Fashion Hub Women's Knee Length Skater Dress
              </a>
            </h4>
            <h5>₹ 399.00</h5>
            <a href="https://amzn.to/3a2ot2U" class="btn btn-outline-primary">Buy Product<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
    
    <h3>More Women's Fashion Product</h3>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B01FM7EXZI&asins=B01FM7EXZI&linkId=8872601e692f03a25678507289b279e2&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08NC3TXCV&asins=B08NC3TXCV&linkId=c84d8c2f9fe95d3a207d3640740495bf&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08GJHFSCK&asins=B08GJHFSCK&linkId=fb7ca74b5a3661c184068e8bc4135fa4&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B01FVX51S6&asins=B01FVX51S6&linkId=f4a2262eb3af37d9f1e4792a244d0ecf&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08VDMDV7X&asins=B08VDMDV7X&linkId=7581c467d91e652bdd20abd304f1a8a6&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B08P7VGWTF&asins=B08P7VGWTF&linkId=fa68319915f46d781fe59f1bc0b096e9&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B083SW19SC&asins=B083SW19SC&linkId=a57448b7eeac1e02a21f5e70897c33c2&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=webworld067-21&language=en_IN&marketplace=amazon&region=IN&placement=B07XVTVDCZ&asins=B07XVTVDCZ&linkId=fa47f7d5e2292659fd573f18e4d057ef&show_border=true&link_opens_in_new_window=true"></iframe>

    {% endblock products %}